<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ft_hangouts">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_42logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_42logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ft_hangouts">
        <receiver
            android:name=".message.MySmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".controller.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".controller.MessagesActivity"
            android:exported="false"
            android:label="@string/messages" />
        <activity
            android:name=".controller.EditActivity"
            android:exported="false"
            android:label="@string/edit_contact" />
        <activity
            android:name=".controller.MainActivity"
            android:exported="true"
            android:label="@string/contact">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>